<div class="overlay"></div>
<div class="container form-wrap">
    <h3 class="ttu">Get your free sample</h3>
    <h4 class="ttu">Delivered to your doorstop!</h4>
    <div class="col-sm-6 col-xs-12 abs-vert-center">
        <form action="free-sample.php" method="post">
            <input name="name" type="text" placeholder="Name" required="required" pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+.{2,}" title="Must contain atleast 4 characters. Must contain atleast 1 letter">
            <input name="phone" type="tel" placeholder="Phone Number" required="required" pattern="[0-9].{9,}" title="Must contian 10 or more characters. Only Digits are allowed">
            <input name="email" type="email" placeholder="Email" required="required">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message" required="required"></textarea>
            <input type="submit" value="Submit" required>
        </form>
        <div class="close"><img src="img/cross.png" alt=""></div>
    </div>
    <div class="col-sm-6 hidden-xs hero-image"></div>
</div>
