<div class="container">
    <div class="row">
        <div class="footer-part-1 col-xs-12">
            <ul class="menu-footer">
                <li><a href="https://www.facebook.com/provilac" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/ProvilacMilk" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/provilacmilk" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- /.footer-part-1 -->
        <div class="footer-part-2 col-xs-12">
            <div class="copyright">
                <p>Copyright © 2017 <a href="http://provilac.com">Provilac</a> - All Rights Reserved</p>
                <p><a href="privacy-policy.html">Terms &amp; Privacy Policy</a></p>
                <p>&nbsp;</p>
            </div>
        </div>
        <!-- /.footer-part-2 -->
    </div>
</div>
<!-- /.footer-container -->
<a class="backtotop smooth" href="#top">
    <span class="fa fa-angle-up"></span>
</a>
