<div class="inner-box">
      <div class="close sb-close-btn"><img src="img/cross.png" alt=""></div>
        <div class="container form-wrap">
          <div class="row">
            <div class="col-sm-6 col-xs-12 abs-vert-center">
              <div class="abs-vert-center">
                <h3 class="ttu">Taste it to believe It!</h3>
                <h4 class="ttu">Have a sample delivered to your Doorstep</h4>
                <form action="forms-php/free-sample.php" method="post">
                    <input name="name" type="text" placeholder="Name" required="required">
                    <input name="address" type="text" placeholder="Address" required="required">
                    <input name="phone" type="tel" placeholder="Mobile" required="required">
                    <input name="email" type="email" placeholder="Email" required="required">
                    <input type="submit" value="SCHEDULE TESTER" required>
                    <p style="font-size: 14px; margin-top: 10px; ">Please Note: We are currently delivering only in Mumbai & Pune.</p>
                </form>
              </div>
            </div>
            <div class="col-sm-6 hidden-xs hero-image pull-right">
              <img src="img/pop-right.jpg" alt="">
            </div>
          </div>
      </div>
        
  