 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Provilac - Subscription Payment</title>
    <link href="${url}/assets/endUser-assets/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" /> 
    <link href="${url}/assets/endUser-assets/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<body class="home-page" id="top">
      <section id="cart-details">
         <div class="container">
            <div class="row">
            <div class="col-md-12">
                  <div class="cart-right-panel1">
                     <div class="cart-right1">
                        <div class="cart-head1">
                            <img src="${url}/assets/endUser-assets/img/success.png">
                           <h3>Order Confirm</h3>
                        </div>
                         <div class="success-details">
                         	 <p><b>Payment Id: </b> ${oneTimeOrder.txnId}</p>
                             <p><b>Payment Method: </b>${oneTimeOrder.paymentGateway}</p>
                             <p><b>Amount Paid: </b>Rs. ${oneTimeOrder.finalAmount}</p>
                             <p><b>Order Date: </b>${createdDate}</p>
                             <p><b>Delivery Date: </b>${deliveryDate}</p>
                         </div>
                     </div>
                     <hr>
                     <div class="cart-right">
	                     #foreach($item in $orderLineItems)
	                        <div class="cart-summary">
	                           <span class="product-name">$item.product.name x $item.quantity</span>
	                           <span class="product-prices">Rs. $item.amount</span>
	                        </div>
	                     #end
                     </div>
                     <hr>
                     <div class="cart-right">
                        <div class="cart-summary">
                           <span class="product-name">Final Amount</span>
                           <span class="product-prices">Rs. ${oneTimeOrder.finalAmount}</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
<!-- Mirrored from webapplayers.com/inspinia_admin-v2.3/email_templates/action.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Oct 2015 04:40:46 GMT -->
</html>
