<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from webapplayers.com/inspinia_admin-v2.3/email_templates/billing.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Oct 2015 04:40:46 GMT -->
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Provilac</title>
    <link href="${url}/assets/css/styles.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<table class="body-wrap">
        
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" style="border: 2px solid #e7eaec;">
                  
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                
                                  <td valign="top" align="center" width="100" style="margin:0;padding:0;">
                                                
                                        <img class="img-responsive" style="width:100px;padding:0;max-width:100%" src="${url}/assets/templet-img/logo.png"/>
                                    </td>
                                
                                <tr>
                                    <td class="content-block-text">
                                     Hi ${username},<br><br>
                                     Thanks for ordering with provilac! Your order has been confirmed and will be delivered on ${deliveryDate}
                                    </td>
                                </tr>

                               <td class="content-block"><strong>Order Id</strong> : # ${orderId}</td>
                               
                                <tr>
                                    <td class="content-block" style="border: 1.5px solid #e7eaec;">
                                        <table class="invoice">
                                            
                                            <tr>
                                                <td>
                                                    <table class="invoice-items" cellpadding="0" cellspacing="0">

                                                        <thead>

                                                            <tr class="greentext" style="font-size: 15px; background: #e7eaec ">
                                                                
                                                                <th style="width: 150px;height: 35px; padding-left:20px;">Product</th>
                                                                <th data-hide="phone" style="padding-left: 60px; padding-right: 10px">Quantity</th>
                                                                <th data-hide="phone,tablet" style="padding-left: 20px">Amount</th>
                                                            </tr>

                                                        </thead>
                                                        
                                                        
														#foreach($data in $orderLineItems)
                                                        <tr class="gift-card">
                                                            <td style="padding-left: 15px;"> <span style="vertical-align: top;"> $data.product.name</span> </td>
                                                            <td style="padding-top: 5px;     text-align: -webkit-center;"> $data.quantity </td>
                                                            <td style="padding-top: 5px;    text-align: -webkit-center;"> $data.amount</td>
                                                        </tr>
														#end
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        

                                                        <tr style="margin:0;padding:0">
                                                        <th width="80%" scope="row" colspan="2" style="margin:0;padding:10px 0;text-align:right;font-weight:bold;border:0">Cart Subtotal:</th>
                                                        <td width="20%" style="margin:0;padding:10px 0;font-weight:bold;border-bottom:1px solid #e9e9e9;font-size:12px;text-align:right;border:0;padding-right:30px"><span>${totalAmount}</span></td>
                                                        </tr>

                                                         <tr style="margin:0;padding:0">
                                                        <th width="80%" scope="row" colspan="2" style="margin:0;padding:10px 0;text-align:right;font-weight:bold;border:0">Referral Points Discounts:</th>
                                                        <td width="20%" style="margin:0;padding:10px 0;font-weight:bold;border-bottom:1px solid #e9e9e9;font-size:12px;text-align:right;border:0;padding-right:30px"><span>${pointsDiscount}</span></td>
                                                        </tr>

                                                         <tr style="margin:0;padding:0">
                                                        <th width="80%" scope="row" colspan="2" style="margin:0;padding:10px 0;text-align:right;font-weight:bold;border:0">Grand Total:</th>
                                                        <td width="20%" style="margin:0;padding:10px 0;font-weight:bold;border-bottom:1px solid #e9e9e9;font-size:12px;text-align:right;border:0;padding-right:30px"><span>${finalAmount}</span></td>
                                                        </tr>

                                                    </table>

                                                    
                                             </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                                
                              
                              <tr>
                                    <td class="content-block" style="border-bottom: 1px solid #e9e9e9; ">

                                        <h3>Delivery Address</h3>
										${addressLine1}
										${addressLine2}
										${Locality}
										Landmark : ${Landmark}
										${cityName} ${pinCode}
										
                                    </td>
                                </tr>

                                <td class="aligncenter" style="padding-top: 20px">Follow us on  : 

		                                <span class="social-share-btn" style="color: #fff;"> 
		                                            <a href="https://www.facebook.com/provilac/" title="follow on Facebook" target="_blank" class="btn btn-facebook icn-color"><i class="fa fa-facebook"></i></a>
		                                            <a href="https://twitter.com/ProvilacMilk" title="follow on Twitter" target="_blank" class="btn btn-twitter icn-color"><i class="fa fa-twitter"></i></a>
		                                            <a href="https://www.linkedin.com/in/siddharth-runwal-9a703a9/" title="follow on LinkedIn" target="_blank" class="btn btn-linkedin icn-color"><i class="fa fa-linkedin"></i></a>
		                                            <a href="https://www.instagram.com/provilacmilk/?hl=en" title="follow on Instagram" target="_blank" class="btn btn-linkedin icn-color"><i class="fa fa-instagram"></i></a>
		                                </span>

                                </td>
                        </table>

                    </td>
                   
            </table>

                <div class="footer">
                    <table width="100%">
                       
                            <td class="aligncenter content-block">© 2017 - Provilac. All rights reserved.<br>
                            Provilac Dairy Farms Pvt. Ltd. 425/74, TMV Colony, Mukund Nagar, Pune - 411037 
                            </td>
                       
                    </table>
                </div>
        </td>        
    
</table>

</body>

<!-- Mirrored from webapplayers.com/inspinia_admin-v2.3/email_templates/billing.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Oct 2015 04:40:46 GMT -->
</html>
