 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Bounce Payment</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="${url}/assets/css/styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<div style="background-color: #f6f6f6;
    width: 100%;"> <br>
    
        <div class="content" style="width: 600px; margin-left: 350px; padding: 20px;     background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;">                              
		<img src="${url}/assets/templet-img/ProvilacBanner.png" style="max-width: 100%;"/>
        <div style="font-size: 14px">
            <h3>Hello ${username},</h3>
            <br>
            <p>Your payment for the ${month} has been bounced. Please keep this email as a receipt for your record.
            <strong>Bounced Payment :</strong>Rs. ${amount} .</p>
            <br>
            <p>Thank You, <br>
            Team Provilac </p>
        </div>
        <br>
        <hr>
        <br>
        <p style="margin-left: 100px">Follow us on :
        <span class="social-share-btn" style="color: #fff;"> 
			<a href="https://www.facebook.com/provilac/" title="follow on Facebook" target="_blank" class="btn btn-facebook icn-color"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/ProvilacMilk" title="follow on Twitter" target="_blank" class="btn btn-twitter icn-color"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/siddharth-runwal-9a703a9/" title="follow on LinkedIn" target="_blank" class="btn btn-linkedin icn-color"><i class="fa fa-linkedin"></i></a>
			<a href="https://www.instagram.com/provilacmilk/?hl=en" title="follow on Instagram" target="_blank" class="btn btn-linkedin icn-color"><i class="fa fa-instagram"></i></a>
		</span>
        </p> 
        </div>

</div>

</body>
</html>
