 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Provilac Promotion</title>
</head>

<body>
	<div>
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#ffffff">
                <tbody>
                	<tr><td style="font-family: Helvetica; color: darkgrey;"><strong>Dear ${name},<br>Your Provi Code is <u style="font-size:16px;">${code}</u></strong></td></tr>
                	<tr>
                    	<td align="center" valign="top" style="height:100%;margin:0;padding:0;width:100%;border-top:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
                            <tbody>
                            	<tr>
                                	<td align="center" valign="top">
 	                                   <table border="0" cellpadding="0" cellspacing="0" width="600"  style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
   	                                   		<tbody>
   	                                   			<tr>
                                        			<td valign="top" style="padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400mcnTextBlock" style="min-width:100%;border-collapse:collapse">
										    	<tbody class="m_-102954720166257400mcnTextBlockOuter">
										        <tr>
										            <td valign="top" class="m_-102954720166257400mcnTextBlockInner" style="padding-top:9px">
										                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-102954720166257400mcnTextContentContainer">
										                    <tbody>
										                    	<tr>
										                        	<td valign="top" class="m_-102954720166257400mcnTextContent" style="padding:0px 18px 9px;color:#40aa16;font-size:18px;font-style:normal;font-weight:normal;line-height:100%;text-align:left;word-break:break-word;font-family:Helvetica">
											                            <div style="text-align:center"><span style="color:#a9a9a9"><span style="font-size:21px"><font face="courier new, courier, lucida sans typewriter, lucida typewriter, monospace"><strong>SELFLESS DEEDS NOW EARN YOU FREE PROVILAC!!!</strong></font></span></span></div>
											                        </td>
										                    	</tr>
										                	</tbody>
										                </table>
										            </td>
										        </tr>
										    </tbody>
										</table>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-102954720166257400templateHeader" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                    <tbody>
                                    	<tr>
                                            <td valign="top" class="m_-102954720166257400headerContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400mcnImageBlock" style="min-width:100%;border-collapse:collapse">
											    <tbody class="m_-102954720166257400mcnImageBlockOuter">
											    	<tr>
                <td valign="top" style="padding:0px" class="m_-102954720166257400mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-102954720166257400mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_-102954720166257400mcnImageContent" valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <img align="center" alt="" src="https://ci6.googleusercontent.com/proxy/8G0qwAR3bPJJiCp7ucQq6nr8QsSNuMfQPQToPIdrA9wmcP0fweOHTxLlbKh_tLBjkGbNLFgXVzEEICeYqYtU9EoTxnW7hByMcT6DrRok3zbm50gCkwzXtXZuy0lc7MfW6QFBbYaM95zNqEWYXYAcQMlQalf_uffDENeDo-8=s0-d-e1-ft#https://gallery.mailchimp.com/7b31b84c9ae0d2c327d6ae343/images/b41f3864-b9aa-44ab-915a-894954e02d6d.jpg" width="600" style="max-width:2530px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-102954720166257400mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 592px; top: 732.812px;"><div id=":124" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-102954720166257400mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-102954720166257400mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-102954720166257400mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-102954720166257400mcnTextContent" style="padding:0px 18px 9px;color:#666666;word-break:break-word;font-family:Helvetica;font-size:18px;line-height:150%;text-align:center">
                        
                            <h1 class="m_-102954720166257400null" style="display:block;margin:0;padding:0;font-family:Helvetica;font-size:30px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:-1px;text-align:center;color:#228b22!important"><span style="color:#808080"><span style="font-size:20px">Extend the organic&nbsp;awesomeness of&nbsp;Provilac to your dear ones!</span></span></h1>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-102954720166257400mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-102954720166257400mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-102954720166257400mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-102954720166257400mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#228b22;font-family:Helvetica;font-size:18px;line-height:150%;text-align:center">
                        
                            <div style="text-align:center"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">By playing tag with people through reference, you can earn up to a maximum cash back that is worth 14 litres of Provilac along with a 1 litre bottle for each of&nbsp;your friend.&nbsp;</span></span></span></div>
&nbsp;

<div style="text-align:center"><span style="font-size:18px"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><span style="color:#ffffff"><span style="background-color:#808080">CASHBACK</span></span></span></span></div>

<ul>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">One reference: 2 Bottles</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Two &nbsp;references: 5 Bottles</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Three references: 9 Bottles</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Three+ references: 14 Bottles</span></span></span></li>
</ul>

<div style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080"><u>Plus 1 free trial bottle for each&nbsp;of your reference!</u></span></span></span></div>

<div style="text-align:center"><br>
<span style="font-size:18px"><span style="color:#ffffff"><span style="background-color:#808080">THIS IS HOW IT WORKS&nbsp;</span></span></span></div>

<ul>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Share your USER-ID which&nbsp;is your unique code with&nbsp;your friend</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Your friend registers with&nbsp;Provilac, using your USER-ID</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Cashback will be given on&nbsp;your friends 1st invoice</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif"><span style="color:#808080">Valid upto <span class="aBn" data-term="goog_1924628246" tabindex="0"><span class="aQJ">15th November</span></span></span></span></span></li>
</ul>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-102954720166257400templateUpperBody" style="border-collapse:collapse;background-color:#ffffff;border-top:1px solid #000000;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" class="m_-102954720166257400upperBodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-102954720166257400mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-102954720166257400mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-102954720166257400mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-102954720166257400mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#232327;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center"><span style="font-size:14px"><span style="font-family:times new roman,times,baskerville,georgia,serif">With each passing day, Provilac has provided the city with nourishing cow milk equipped with unparalleled goodness. If you have missed out on this, then here’s your chance to be a part of our wholesome dairy product that comes with a complementary bundle of satisfaction.&nbsp;</span></span></div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-102954720166257400templateColumns" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td align="left" valign="top" class="m_-102954720166257400columnsContainer" width="50%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400templateColumn" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" class="m_-102954720166257400leftColumnContainer"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                            <td align="left" valign="top" class="m_-102954720166257400columnsContainer" width="50%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400templateColumn" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" class="m_-102954720166257400rightColumnContainer"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-102954720166257400templateLowerBody" style="border-collapse:collapse;background-color:#232327;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" class="m_-102954720166257400lowerBodyContainer"></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:40px">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-102954720166257400templateFooter" style="border-collapse:collapse;background-color:#666666;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" class="m_-102954720166257400footerContainer" style="padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-102954720166257400mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-102954720166257400mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-102954720166257400mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-102954720166257400mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-102954720166257400mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#ffffff;font-family:Helvetica;font-size:11px;line-height:125%;text-align:center">
                        
                            <em>Copyright © 2016 Provilac Dairy Farms Pvt. Ltd., All rights reserved.</em><br>
<br>
<br>
<strong>Our mailing address is:</strong><br>
<a href="https://www.google.co.in/maps/place/Provilac+-+Cows+Fresh+%26+Organic+Milk+Home+Delivery/@18.496352,73.866207,15z/data=!4m2!3m1!1s0x0:0xa89f6843e13d21?sa=X&amp;ved=0ahUKEwjixYjujeTPAhVLQ48KHVaoA6cQ_BIIfDAL" style="color:#ffffff;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.google.co.in/maps/place/Provilac%2B-%2BCows%2BFresh%2B%2526%2BOrganic%2BMilk%2BHome%2BDelivery/@18.496352,73.866207,15z/data%3D!4m2!3m1!1s0x0:0xa89f6843e13d21?sa%3DX%26ved%3D0ahUKEwjixYjujeTPAhVLQ48KHVaoA6cQ_BIIfDAL&amp;source=gmail&amp;ust=1477561729642000&amp;usg=AFQjCNHERqI7GH17hIIwx5zdHp5Pax3h8Q">Provilac Dairy Farms Pvt. Ltd.<br>
75/425, TMV Colony, Mukund Nagar, Pune 411037.&nbsp;<br>
India</a><br>
<br>
Want to change how you receive these emails?<br>
You can <a style="color:#ffffff;font-weight:normal;text-decoration:underline">update your preferences</a> or <a style="color:#ffffff;font-weight:normal;text-decoration:underline">unsubscribe from this list</a><br>
&nbsp;
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    

</div></div>
</body>
</html>
