@font-face {
  font-family: 'TextaAlt-Black';
  src: url('../fonts/textaalt-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/textaalt-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/textaalt-black-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/textaalt-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/textaalt-black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/textaalt-black-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'TextaAlt-Light';
  src: url('../fonts/textaalt-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/textaalt-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/textaalt-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/textaalt-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/textaalt-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/textaalt-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
  font-family: "TextaAlt-Light", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #4c4c4c;
}

h1,h2,h3,h4{
  font-family: 'TextaAlt-Black', sans-serif;
  line-height: 0.8em;
}

a{
	color: #000;
	transition: all 0.25s ease 0s;
}
a:hover,a:focus{
	outline: none;
	color: #D74123;
	text-decoration: none;
}

.pos-r{
  position: relative;
}
.dib{
  display: inline-block;
}
.p0{
  padding: 0 !important;
}
.pl0{
  padding-left: 0;
}
.tac {
  text-align: center;
}
.tar{
  text-align: right;
}
.ttu{
	text-transform: uppercase;
}
.fn{
	float: none !important;
}
/*make parent pos-r*/
.vert-center{
	display: flex;
	flex-wrap: wrap;
  /*flex-direction: column;
  justify-content: center;
  resize: vertical;*/
  overflow: hidden;
  height: 100vh;
  align-content: center;
}


.h100vh{
	min-height: 100%;
	min-height: 100vh;
}
.abs-vert-center{ 
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          padding-left: 15px;
          padding-right: 15px;
}

/*parent (row for example) should have text-align: center; or class .tac */
.col-centered{
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}


header{
	margin: 0 auto;
    width: 100%;
    z-index: 9;
    position: fixed;
	top: 30px;
	transition: width 0.3s ease 0s;
}
header.affix{
	top: 0;
}

header.affix .container{
	width: 100%;
	transition: all 0.3s ease 0s;
}
.navbar{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 99999;
	letter-spacing: 1px;
	border: none;
}
.navbar-header{
	float: none;
}
.navbar-brand{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: -15px;
	min-height: 100px;
}
.navbar-right{
	margin-right: 0;
}
.navbar .container{
	background: #fff none repeat scroll 0 0;
    box-shadow: 1px 0 5px #d8d8d8;
}
.navbar a{
	color: #D74123;
}
.navbar a:hover{
	color: #414141;
	background: none !important;
}
.navbar-nav{
	position: relative;
	top: 20px;
}
.icon-bar{
	background: #D74023;
}
button.navbar-toggle {
    position: absolute;
    right: 0;
}

#section1,#section2,#section3{
	height: 100vh;
	position: relative;
}

#section1{
	background:#D74123;
	color: #fff;
}
#address-section {
    padding-top: 200px;
    margin-bottom: 80px;
	background:#fff;
	color: #fff;
    position: relative;
}
#section1 .h100vh img{
	width: 90%;
	padding-top: 170px;
}
#section1 .abs-vert-center{
	right: 0;
}
#section1 h3{
   /* text-align: center;*/
	font-size: 46px;
}

#section2{
	color: #D74123;
}
#section2 .hero-image{
	background: url(../img/section-2.jpg) no-repeat center center; 
	background-size: cover;
	height: 100vh;
}
#section2 h3{
	font-size: 87px;
}

#section3{
	background: url(../img/section-3.jpg) no-repeat #9C6D57 center center;
	background-size: cover;
	color: #fff;
}
#section3 .abs-vert-center{
	right: 0;
}
#section3 h3{
	font-size: 126px;
}

.maw400{
	max-width: 400px;
}
.maw485{
	max-width: 485px;
}
.maw270{
	max-width: 270px;
}

body.about-us-page .hero-image{
	background: url(../img/about-us.jpg) no-repeat center;
	background-size: cover;
}
.maw550{
	max-width: 550px;
}

body.contact-us-page main i{
	font-size: 40px;
	color: #999;
}
.contact-box{
	padding: 30px 20px;
}
.contact-box:nth-of-type(2){
	border-right:1px solid #ddd;
	border-left: 1px solid #ddd;
}
.form-row{
	padding-top: 80px;
	padding-bottom: 80px;
}
.form-row h3{
	line-height: 1.3em;
	padding-top: 20px;
	padding-bottom: 20px;
}
input{
	background: #f6f6f6 none repeat scroll 0 0;
    color: #999999;
    font-size: 14px;
    height: 50px;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    padding-left: 25px;
    width: 100%;
    border: none;
}
textarea{
	background: #f6f6f6 none repeat scroll 0 0;
    color: #999999;
    font-family: Lato;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 25px;
    width: 100%;
    border: none;
    padding-top: 15px;
}
input[type="submit"]{
	background: #000000 none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.75px;
    padding: 9px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: auto;
    margin: 0 auto;
    display: block;
}
input[type="submit"]:hover{
	background: #d74123 none repeat scroll 0 0;
    border-color: #d74123;
}

body.contact-us-page main h4{
	text-transform: uppercase;
}

footer{
	background: #181818;
	color: #777;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.menu-footer{
	list-style-type: none;
	margin-top: 100px;
	padding: 0;
}
.menu-footer li{
	display: inline-block;
	padding: 0 15px;
}
.menu-footer li a i{
	background: #383838;
}
.menu-footer li a:hover i{
	background: #666;
}
.menu-footer li i{
	font-size: 20px;
	line-height: 50px;
	height: 50px;
	width: 50px;
}
footer{
	position: relative;
}
footer a{
	color: #fff;
	font-family: 'TextaAlt-Light', sans-serif;
	font-weight: bold;
}
footer a:hover{
	color: #D74123;
}
footer p{
	margin-bottom: 15px;
}
.footer-part-2{
	margin: 40px 0 100px;
}
footer .backtotop {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    color: #414141;
    font-size: 20px;
    line-height: 45px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
footer .backtotop:hover{
	opacity: 0.5;
}
.sb{
	max-width: 800px;
	width: 80%;
}
.popup-on-scroll{
	z-index: 99999999;
	padding: 0;
	color: #fff;
	font-family: 'TextaAlt-Light', sans-serif !important;
}
.popup-on-scroll .form-wrap{
	min-height: 500px;
	background: #D74023;
	width: 100%;
}
.popup-on-scroll .close{
	position: absolute;
	top:5px;
	right: 5px;
	z-index: 9;
}
.popup-on-scroll .hero-image{
	padding-right: 0;
	overflow: hidden;
	text-align: center;
}
.popup-on-scroll .hero-image img{
	height: 100%;
	display: block;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
}
.popup-on-scroll input[type="submit"]:hover{
	background: #333 none repeat scroll 0 0;
    border-color: #000;
}

.login-page {
  /*width: 360px;*/
  padding: 25% 0 0;
  margin: auto;
}
.address-page {
  /*width: 360px;*/
  margin: auto;
}
.pincode-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.address-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
 /* max-width: 460px;*/
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.pincode-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 18px;
  box-sizing: border-box;
  font-size: 14px;
}
.address-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 18px;
  box-sizing: border-box;
  font-size: 14px;
}
.pincode-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d74123;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.address-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d74123;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.pincode-form button:hover,.pincode-form button:active,.pincode-form button:focus {
  background: #393939;
}
.address-form button:hover,.address-form button:active,.address-form button:focus {
  background: #393939;
}
.pincode-form .message {
  margin: 0;
    margin: 0;
    width: 100%;
  color: #fff;
  font-size: 15px;
}
.pincode-form .submit {
  margin: 0;
  color: #fff;
  font-size: 15px;
}
.address-form .submit {
  margin: 0;
  color: #fff;
  font-size: 15px;
}
pincode-form .terms-condition {
  margin: 0;
  color: #fff;
  font-size: 15px;
}
.pincode-form .submit a {
  color: #fff;
  text-decoration: none;
}
.address-form .submit a {
  color: #fff;
  text-decoration: none;
}
.pincode-form .register-form {
  display: none;
}
.pin-form h2 {
 margin-bottom: 30px;
 color: #393939;   
}
.login-form h2 {
 margin-bottom: 30px;
 color: #393939;   
}
.register-form h2 {
    margin-bottom: 30px;
    color: #393939;
}
.register-form p {
    color:#393939;
    font-size: 18px;
}
.pin-form p {
    color:#393939;
    font-size: 18px;
}
.login-form p  {
    margin-top: 5px;
    font-size: 18px;
    color: #393939
}
.choose-option {
    padding: 25% 0 0;
    margin: auto;
}
.dashboard-option {
    position: relative;
  z-index: 1;
  background: #fff;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.member-area {
    margin: 8px;
   /* border: 1px solid #c6c6c6;*/
  /*  padding: 15px;*/
    /* background: #eae5e5; */
}
.member-area label {
    color: #393939;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    /*width: 350px;*/
}
.member-area p {
    color: #393939;
    font-size: 20px;
    text-transform: uppercase;
}
.member-area input[type=radio] {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}
.member-area .radio-inline {
    margin: 10px;
}
.member-area button {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d74123;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.member-area button:hover,.member-area button:active,.member-area button:focus {
  background: #393939;
}
.member-area .submit {
  margin: 0;
  color: #fff;
  font-size: 15px;
}
.member-area .submit a{
color: #fff;
    text-decoration: none;
}
#category {
    margin-bottom: 80px;
    text-align: center;
    color: #393939;
  /*  height: 100vh;*/
    position: relative;
}
#details {
    padding-top: 200px;
    margin-bottom: 80px;
  color: #393939;
  /*  height: 100vh;*/
    position: relative;
}
#patterns-details {
    margin-bottom: 80px;
    color: #393939;
  /*  height: 100vh;*/
    position: relative;
}
#cart-details {
    padding-top: 200px;
    margin-bottom: 80px;
  color: #393939;
  /*  height: 100vh;*/
    position: relative;
}
.category-details {
     padding: 15% 0 0;
    margin: auto;
}
.description {
    margin: auto;
}
.category-head h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
}
.product-details a {
    font-weight: 600;
    /* text-transform: uppercase; */
    font-size: 20px;
}
.detail-desc a {
    margin-top: 10px;
    color: #fff;
    padding: 10px 25px;
    background: #d74123;
}
.detail-desc a:hover {
    color: #fff;
    background: #393939;
}
.detail-desc h3 {
    font-size: 25px;
}
.detail-desc p {
    font-size: 20px;
    padding-bottom: 10px;
}
.product-price {
    color: #D74123;
    font-size: 30px;
    margin-right: 5px;
}
.btn-incre {
    width: 25%;
   /* margin: auto;*/
    padding-bottom: 10px;
}
.btn-incre1 {
    width: 70%;
    /* margin: auto;*/
    padding-bottom: 10px;
}
.btn-incre-details{
    width: 50%;
    padding-bottom: 10px;
}
.btn-incre input {
    border: none;
    box-shadow: none;
   text-align: center;
}
.btn-incre1 input {
    border: none;
    box-shadow: none;
   text-align: center;
}
/* .btn-incre span{
   font-weight: 600;
}
.btn-incre1 span{
   font-weight: 600;
} */
.btn-pm{
    background: #D74123;
    color: #fff;
    border-radius: 0;
    outline: none;
}
.btn-pm:hover {
    background: #393939;
    color: #fff;
    border-radius: 0;
    outline: none;
}
.add-to-cart-btn {
    margin: 15px 0;
}
.add-more-product a {
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    color: #d74123;
}
.add-more-product  {
    margin-bottom: 20px;
    margin-top: 20px;
}
.cart-summary {
    margin: 10px 0;
    clear:both;
}
.product-prices {
    float: right;
    font-weight: 600;
    font-size: 22px;
}
.product-cut {
    float: right;
    padding-right: 10px;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 22px;
}
.product-name {
   /*  text-transform: uppercase; */
    font-weight: 600;
    font-size: 20px;
}
.sub-product-name {
    /*text-transform: uppercase;*/
    font-weight: 600;
    font-size: 20px;
}
.subtotal-prices {
    float: right;
    font-weight: 600;
    font-size: 25px;
}
.sub-total {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}
.add-price {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
.add-prices {
    float: right;
    font-weight: 600;
    font-size: 18px;
}
.cart-head h3 {
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase;  
}
.cart-head1 h3 {
    color: #58a230;
    margin: 10px 0;
    text-align: center; 
}
.cart-head1 {
    margin: 35px 0;
    text-align: center;
}
.cart-right {
    padding: 1.5rem;
}
.cart-right-billing {
    color: #393939;
    padding: 1.5rem;
}
.cart-right1 {
    padding: 1.5rem;
}
.cart-left {
    padding: 1.5rem;
}
.cart-right-panel {
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
   
}
.cart-billing-panel {
    background: #fff;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
   
}
.subscription-bill {
    width: 75%;
    margin: auto;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
   
}
.cart-right-panel1 {
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
    max-width: 75%;
    margin: auto;
}
.cart-left-panel {
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
}
.hold-delivery-panel {
    width: 60%;
    margin: auto;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
}
.cart-change-schedule-panel {
    width: 70%;
    margin: auto;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
}
.postpre-panel {
    margin-bottom: 15px;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
}
 hr {
    padding: 0;
   margin: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.checkout-btn a {
    margin-bottom: 5px;
    background: #d74123  none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}
.checkout-btn1 a {
    background: #d74123  none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}
.checkout-btn {
    text-align: center;
}

.sub-checkout-btn {
    text-align: center;
}
.sub-checkout-btn a {
    margin-bottom: 5px;
    background: #d74123  none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}
.checkout-btn1 {
    text-align: center;
}
.checkout-btn a:hover {
    background: #393939;
    color: #fff !important;
}
.cart-product-summary {
    
}
.products-name span {
    font-size: 20px;
    font-weight: 600;
    /*text-transform: uppercase;*/
}
.pro-price span {
    font-size: 18px;
    font-weight: 600;
}
.delete-product {
    color: #d74123;
    text-align: center;
}
.delete-product i {
    line-height: 2;
font-size: 20px;
}
.delivery-address {
    margin-top: 10px;
    border: 1px solid #c6c6c6;
    padding: 10px;
}
.delivery-address p {
    font-size: 18px;
    font-weight: 600;
}
.new-address-add {
    padding-top: 10px;
}
.new-address-add a {
    font-size: 20px;
    font-weight: 600;
    color: #d74123;
}
.address-head h2 {
    font-size: 25px;
    margin-top: 5px;    
    margin-bottom: 8px;
}
.payment-options .radio input {
    margin-left: 0;
    margin-top: 2px;
}
.pattern-options .radio-inline input {
    margin-left: 0;
    margin-top: 2px;
}
.payment-options .radio label {
    margin-bottom: 10px;
    padding-left: 30px;
    font-weight: 600;
}
.pattern-options .radio-inline label {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
    font-weight: 600;
}
.payment-options .radio-inline label {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-weight: 600;
}
.pattern-options .checkbox-inline label {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-weight: 600;
}
.payment-options {
    margin-top: 20px;
}
.pattern-options {
   /* text-align: center;*/
    margin-top: 20px;
}
.pattern-options .radio-inline, .checkbox-inline {
  padding-left: 0px;
}
.form-group > label {
    display: block;
    color: #393939;
}
.payment-details .form-group .form-control {
    background-color: #f3f3f3;
    height: 50px;
    border: none;
    box-shadow: none;
}
.form-group > input {
    border-radius: 0;
    /* margin-top: 10px; */
    outline: none;
    /* text-align: center; */
   /* border: none;*/
    border: 1px solid #d74123;
    height: 45px;
    padding: 0 15px;
    width: 100%;
}
.address-footer .edit-address {
    margin-right: 5px;
    color: #D74123;
    font-weight: 600;
}
.address-footer .edit-address i {
    margin-right: 5px;
}
.address-footer .delete-address {
    margin-left: 5px;
    color: #D74123;
    font-weight: 600;
}
.address-footer .delete-address i {
    margin-right: 5px;
}
.address-footer {
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #c6c6c6;
}
.header-right-cart {
    position: absolute;
    right: 15px;
    top: 0;
}

.header-shop {
    float: left;
    padding: 27px 0;
    position: relative;
}
.header-shop i {
    cursor: pointer;
    color: #1b1b1b;
    font-size: 16px;
}
.header-shop i span {
    background-color: #f8b600;
    border-radius: 100%;
    bottom: 47px;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 25px;
    left: 15px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 25px;
}
.section-head h3 {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.date-selection > label {
    font-size: 30px;
}
.date-selection {
    margin-bottom: 50px;
    margin-left: -13px;
    margin-top: 10px;
}
.success-details p {
    font-size: 20px;
}
input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: 2px;
        left: 2px;
        position: relative;
        background-color: #fff;
        content: '';
        display: inline-block;
        visibility: visible;
      /*  border: 2px solid white;*/
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: 2px;
        left: 2px;
        position: relative;
        background-color: #D74123;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
input[type=radio].css-checkbox:checked + label.css-label.green-radio {
    color: #D74123;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 2px solid #d74123;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
 /* vertical-align: top;*/
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
    font-weight: 600;
  color: #d74123;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
.pattern-options span{
    /*font-size: 20px;*/
   /*  font-weight: 600; */
}
.page-head h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    
}
.post-head p {
    font-size: 25px;
    font-weight: bold;
}   
.post-content ul li {
    list-style: decimal;
    line-height: 30px;
    font-size: 20px;
}
.post-content ul {
    /*padding: 0;*/
}
.go-postpaid {
    text-align: right;
}
.go-postpaid a {
    background: #d74123 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}
.summary-next {
    text-align: right;
}
.summary-next a {
    background: #d74123 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
}
.cart-items {
    position: relative;
    bottom: 7px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #D74123;
    border-radius: 10px;
}
.accept-terms .form-group > label {
    font-size: 25px;
    margin-left: 10px;
    
}
.cart-left-panel .cart-left .highlighted {
    border: 1px solid #d74123;
}
.subscription-bill .cart-left .highlighted {
    border: 1px solid #d74123;
}

.sub-note {
    font-size: 20px;
    margin-top: 15px;
}
.cart-qty {
    font-size: 25px;
}
.status h3 {
    text-align: center;
    color: green;
    margin: 0;
}
.change-order span {
    text-align: left;
    display: block;
}
.cancel-order span {
    text-align: right;
    display: block;
}

.order-summary a {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 10px;
    text-transform: uppercase;
    color: #fff;
    background: #d74123;
}
.cart-bottom-panel {
    margin-top: 10px;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
}
#postpaid-benefits {
    /* padding-top: 200px; */
    margin-bottom: 80px;
    color: #393939;
    /* height: 100vh; */
    position: relative;
}
.order-summary {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: -60px;
    display: none;
    position: absolute;
    background-color: #d74123;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #fff}

.dropdown:hover .dropdown-content {
    display: block;
}
.sticky-bottom {
    z-index: 999;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
   /* padding: 10px;*/
    box-shadow: 10px 0px 15px #b1afaf;
}
.due-box {
    width: 50%;
    margin: auto;
    padding: 10px 18px;
   /* border-radius: 2px;
    background: #d74123;
    box-shadow: 0 0 6px -1px rgba(0,0,0,.1);*/
}
.due-box .pending {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    /*width: 50%;*/
}
.due-btn {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
   /* width: 45%;*/
}
.pending-text {
   /* text-transform: uppercase;*/
    font-size: 20px;
    color: #393939;
    font-weight: bold;
    line-height: 1;
}
.balance {
    font-weight: bold;
    display: block;
    font-size: 22px;
    line-height: 1;
    color: #393939;
}
.due-btn a {
    font-size: 15px;
    font-weight: bold;
    border-radius: 0;
    text-transform: uppercase;
    background: #d74123;
    color: #fff;
    border-color: #d74123;
}
.due-btn a:hover{
    text-transform: uppercase;
    background: #393939;
    color: #fff;
    border-color: #393939;
}

.invoice-billing {
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ece9e9;
    margin: auto;
}
.due-box .pending i {
    font-size: 17px;
}
.rupees-symbol {
    font-size: 18px;
}
.my-acc-arrow {
    font-size: 15px;
}
#cart:hover {
    background: #393939;
}

    

#snackbar {
   	visibility: hidden;   
    min-width: 250px;
    /* margin-left: -125px; */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 30%;
    bottom: 30px;
    font-size: 17px;
}

@media (max-width:991px) {
	#snackbar {
	   	visibility: hidden;  
	    min-width: 250px;
	    /* margin-left: -125px; */
	    background-color: #333;
	    color: #fff;
	    text-align: center;
	    border-radius: 2px;
	    padding: 16px;
	    position: fixed;
	    z-index: 1;
	    left: 22%;
	    bottom: 30px;
	    font-size: 17px;
	}
}

@media (max-width:767px) {
	#snackbar {
	   	visibility: hidden;  
	    min-width: 250px;
	    /* margin-left: -125px; */
	    background-color: #333;
	    color: #fff;
	    text-align: center;
	    border-radius: 2px;
	    padding: 16px;
	    position: fixed;
	    z-index: 1;
	    left: 12%;
	    bottom: 30px;
	    font-size: 17px;
	}
}

@media (max-width:543px) {
	#snackbar {
	   	visibility: hidden;  
	    min-width: 250px;
	    /* margin-left: -125px; */
	    background-color: #333;
	    color: #fff;
	    text-align: center;
	    border-radius: 2px;
	    padding: 16px;
	    position: fixed;
	    z-index: 1;
	    left: 5%;
	    bottom: 30px;
	    font-size: 17px;
	}
}

#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

 @media print {
	 #cart-details {
	    padding-top: 10px;
	    margin-bottom: 80px;
	    color: #393939;
	    position: relative;
	    visibility: visible;
	  }
     
	  header * {
	    display: none;
	  }
	  
	  footer * {
	    display: none;
	  }
	  
	  #button-section {
	    display: none;
	  }
	  
	  #myHeader {
	    display: none;
	  }
	}
	
.user-profile label {
   text-transform: uppercase;
   font-size: 20px;
}

.user-profile input {
    background: none;
    padding-left: 0;
    font-size: 25px;
}

.member-area p {
margin-bottom: 0;
font-weight: 700;
color: #393939;
font-size: 20px;
text-transform: uppercase;
}
    