@media (max-width:991px){
    
.btn-incre1 {
    padding-top: 10px;
   /* width: 100%;
    margin: auto;*/
    padding-bottom: 10px;
}
    .cart-right-panel {
        margin-top: 10px;
    }
    .navbar-nav {
    position: relative;
    top: 5px;
    margin-left: 95px;
}
    .nav-responsive {
        padding-bottom: 30px;
    display: inline-flex;
    position: relative;
    top: 30px;
    margin-left: 0;
}
    .due-box {
    width: 100%;
    margin: auto;
    padding: 10px 18px;
}
}
@media (max-width:767px){
    .products-name {
        margin-top: 10px;
    }
	.tac-xs{
		text-align: center; 
	}
	header{
		top:0 !important;
	}
	.navbar-collapse{
		overflow: hidden !important;
	    position: relative;
	    top: -25px;
	    width: 100%;
	}
	main{
		padding-top: 130px;
		padding-bottom: 40px;
	}
	body.home-page section .tar{
		text-align: left;
	}
	#section1, #section2, #section3{
		min-height: 100vh;
		height: auto;
	}
	#section1 h3, #section2 h3, #section3 h3{
		font-size: 30px;
	}
	#section1{
		padding-top: 130px;
		padding-bottom: 50px;
	}
	#section1 .h100vh{
		height: auto;
		min-height: auto;
	}
	#section1 .abs-vert-center, .about-us-page main .abs-vert-center{
		right: auto;
		padding: auto;
		position: relative;
		top: auto;
		transform: translateY(0);
	}
	#section1 .maw400{
		max-width: inherit;
		margin-bottom: 40px;
	}
	#section1 .h100vh img{
		padding-top: 0px;
		height: auto;
		width: 50%;
		position: relative;
		left: auto;
		text-align: center;
		margin: 0 auto;
		transform: translateY(0);
	}
	.maw485, .maw270{
		max-width: 600px;
	}
	#section3 .abs-vert-center {
		right: auto;
		margin-right: 15px;
		background: rgba(0,0,0,0.25);
		padding-bottom: 10px;
		text-shadow: 0 0 1px rgba(0,0,0,0.25);
	}
	.about-us-page .h100vh{
		min-height: auto;
		height: auto;
	}
	.popup-on-scroll .abs-vert-center{
		padding-right: 30px;
	}
	.popup-on-scroll h3, .popup-on-scroll h4{
		text-align: center;
	}
    .form-group > input {
    border-radius: 0;
    /* margin-top: 10px; */
    outline: none;
    /* text-align: center; */
    /* border: none; */
    border: 1px solid #d74123;
    height: 45px;
    padding: 0 15px;
    width: 20%;
}
}
@media (max-width:640px){
    .pattern-options .checkbox-inline {
    display: block;
        margin-left: 0;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    }
    .form-group > input {
    border-radius: 0;
    /* margin-top: 10px; */
    outline: none;
    /* text-align: center; */
    /* border: none; */
    border: 1px solid #d74123;
    height: 45px;
    padding: 0 15px;
    width: 30%;
}
    .due-box {
    width: 100%;
    margin: auto;
    padding: 10px 18px;
}
}

@media (max-width:480px){
    
.btn-incre1 {
    padding-top: 10px;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}
    .pattern-options .radio-inline {
        display: block;
        margin-left: 0;
    }
    .btn-incre {
    width: 35%;
    /* margin: auto; */
    padding-bottom: 10px;
}
    .due-box {
    width: 100%;
    margin: auto;
    padding: 10px 18px;
}
}