.width-small {
    width: 100px;
}

.width-xsmall {
    width: 120px;
}

.width-medium {
    width: 180px;
}

.width-large {
    width: 260px;
}

.width-xlarge {
    width: 300px;
}

.width-mediumlarge {
    width: 450px;
}

.width-xmedium {
    width: 220px;
}